<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OpenClaw Team Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <%= vite_stylesheet_tag "application", media: "all" %>
  </head>
  <body class="bg-background min-h-screen font-sans text-text-primary">
    <%= yield %>
    <%= vite_javascript_tag "application" %>
  </body>
</html>
